.attribution {
    font-size: 11px;
    text-align: center;
  }

  .attribution a {
    color: hsl(228, 45%, 44%);
  }

  .flex {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;      
  }
  
  .container {
    background-color: white;
    display: flex;
    align-self: center;
    width: 600px;
    height: 250px;
    border-radius: 10px ;
    overflow: hidden;
    margin-top: auto;
    margin-bottom: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  @media (max-width: 635px){
      .container {
          background-color: white;
          display: flex;
          align-self: center;
          width: 330px;
          height: 550px;
          border-radius: 10px ;
          overflow: hidden;
          margin-top: auto;
          margin-bottom: auto;
          flex-direction: column;
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }

        
        .employe{
            visibility: hidden;
        }

        .text{
            margin-left: -30px;
        }
        .container image {
            height: 10% !important;
        
          }
        .text h2{
            margin-right: -30px;
        }

        .text p{
            margin-right: -30px;
        }

        .footer{
            display: block !important;
        }
  
    }

    .text {
    padding: 30px;
    width: 67%;
    margin-top: -20px;
    font-size: 13px;
    align-self: center ;
  }

  .judul{
    color: hsl(217, 19%, 35%);
  }

  .describe{
    color: hsl(214, 17%, 51%);
  }

  .container image {
    width: 33%;

  }

  .employe{
    display: flex;
    width: 100%;
    flex-direction: row;
    height: 40px;
    align-items: center;
    margin-top: 20px;
  }

  .employe img{
    border-radius: 100%;
    margin-right: 10px;
  }
  .nama{
    display: flex;
    flex-direction: column;
  }
.nama h5{
    color: hsl(217, 19%, 35%);
    margin: 0;
}
.nama p{
    margin: 0;
    color: hsl(212, 23%, 69%);
}

.employe svg{
    margin-left: auto;
    background-color: hsl(210, 46%, 95%);
    border-radius: 100%;
    padding: 4px;
}

.footer{
    display: block;
    margin-top: -60px;
    padding-left: 35px;
    background-color: hsl(217, 19%, 35%);
}

.footer h3{
    color: white;
    letter-spacing: 5px;
}

.contact{
    display: flex;
    align-items: center;
}

.contact svg{
    padding-left: 20px;
}

.share{
    margin-left: auto;
    margin-right: 30px;
    background-color: hsl(210, 46%, 95%);
    border-radius: 100%;
    padding: 8px !important;
}