
body{
  background-color:  hsl(210, 46%, 95%);
}
.flex {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;      
}

.container {
  font-family: 'Manrope', sans-serif;
  background-color: white;
  display: flex;
  width: 600px;
  height: 250px;
  border-radius: 10px ;
  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media (max-width: 635px){
    .container {
        width: 330px ;
        height: 520px ;
        flex-direction: column;
      }
      
      .text{
          margin-top: 0px !important;
          padding-top: 10px !important;
          width: 270px !important;
      }

      .image{
        height: 220px !important;
      }
  }

  .text {
  padding: 30px;
  width: 67%;
  margin-top: -20px;
  font-size: 13px;
  align-self: center ;

}

.judul{
  font-size: 12px;
  font-weight: 700;
  color: hsl(217, 19%, 35%);
}

.describe{
  font-weight: 500;
  color: hsl(214, 17%, 51%);
}

.employe{
  display: flex;
  width: 100%;
  align-items: center;
  margin-top: 20px;
}

.employe img{
  border-radius: 100%;
  margin-right: 10px;
}
.nama{
  display: flex;
  flex-direction: column;
}

.nama h5{
  font-weight: 700;
  color: hsl(217, 19%, 35%);
  margin: 0;
}
.nama p{
  font-weight: 500;
  margin: 0;
  color: hsl(212, 23%, 69%);
}

.employe svg{
    margin-left: auto;
    background-color: hsl(210, 46%, 95%);
    border-radius: 100%;
    padding: 4px;
}
